---
services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ= #Add Timezone
    volumes:
      - ./config:/config
    ports:
      - 9696:9696
    restart: unless-stopped
    networks:
      - arr_suite

networks:
  arr_suite:
    external: true
