services:
  heimdall:
    image: lscr.io/linuxserver/heimdall:latest
    container_name: heimdall
    environment:
      - PUID=1000
      - PGID=1000
      - TZ= #Add Timezone
    volumes:
      - ./config:/config
    ports:
      - 890:80
      - 4439:443
    restart: unless-stopped
