services:
  app:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: 'nginx'
    restart: unless-stopped
    environment:
      - TZ= #Add Timezone
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
